.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px 0px 30px;
}
.modal-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 30px;
}
.title-1{
    font-size: 30px;
    font-weight: 800;
    color: #262466;
}
.title-2{
    font-family: karla;
    font-size: 17px;
    font-weight: 400;
    color: #707070;
}
.content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.content-top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.content-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 18px 18px;
}
.card-title{
    font-size: 16px;
    font-weight: 700;
    color: #262466;
}
.card-down{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 4px 8px 0 rgba(124, 124, 124, 0.2), 0 6px 20px 0 rgba(124, 124, 124, 0.2);
    height: 100px;
    width: 230px;
    margin-top: 10px;
    border-radius: 6px;
    padding: 0px 0px 0px 15px;
}
.card-icon{
    width: 32px;
    margin: 0px 6px;
}
.card-react-icon{
    font-size: 27px;
    color: #3AB75D;
}
.card-react-icon-2{
    font-size: 27px;
    color: #262466;
}
.card-words{
    font-size: 13px;
    font-weight: 600;
    color: #262466;
    margin: 0px 7px;
}
.modal-close{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.modal-btn{
    font-family: karla;
    font-size: 18px;
    font-weight: 800;
    color: #232164;
    border: none;
    outline: none;
    background-color: #ffff;
    color: #E9303B;
}
@media screen and (max-width: 1024px) {
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px 0px 30px;
    }
    .modal-title{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 85px;
    }
    .title-1{
        font-size: 24px;
        font-weight: 800;
        color: #262466;
    }
    .title-2{
        font-family: karla;
        font-size: 13px;
        font-weight: 400;
        color: #707070;
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .content-top{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .content-div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 15px 15px;
    }
    .card-title{
        font-size: 13px;
        font-weight: 700;
        color: #262466;
    }
    .card-down{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 0 4px 8px 0 rgba(124, 124, 124, 0.2), 0 6px 20px 0 rgba(124, 124, 124, 0.2);
        height: 75px;
        width: 180px;
        margin-top: 10px;
        border-radius: 6px;
        padding: 0px 0px 0px 15px;
    }
    .card-icon{
        width: 28px;
        margin: 0px 6px;
    }
    .card-react-icon{
        font-size: 25px;
        color: #3AB75D;
    }
    .card-react-icon-2{
        font-size: 25px;
        color: #262466;
    }
    .card-words{
        font-size: 11px;
        font-weight: 600;
        color: #262466;
        margin: 0px 7px;
    }
    .modal-close{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .modal-btn{
        font-family: karla;
        font-size: 16px;
        font-weight: 800;
        color: #232164;
        border: none;
        outline: none;
        background-color: #ffff;
        color: #E9303B;
    }

}
@media screen and (max-width: 768px) {
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px 0px 30px;
    }
    .modal-title{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 85px;
    }
    .title-1{
        font-size: 24px;
        font-weight: 800;
        color: #262466;
    }
    .title-2{
        font-family: karla;
        font-size: 13px;
        font-weight: 400;
        color: #707070;
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .content-top{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .content-div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 15px 15px;
    }
    .card-title{
        font-size: 13px;
        font-weight: 700;
        color: #262466;
    }
    .card-down{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 0 4px 8px 0 rgba(124, 124, 124, 0.2), 0 6px 20px 0 rgba(124, 124, 124, 0.2);
        height: 75px;
        width: 180px;
        margin-top: 10px;
        border-radius: 6px;
        padding: 0px 0px 0px 15px;
    }
    .card-icon{
        width: 28px;
        margin: 0px 6px;
    }
    .card-react-icon{
        font-size: 25px;
        color: #3AB75D;
    }
    .card-react-icon-2{
        font-size: 25px;
        color: #262466;
    }
    .card-words{
        font-size: 11px;
        font-weight: 600;
        color: #262466;
        margin: 0px 7px;
    }
    .modal-close{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .modal-btn{
        font-family: karla;
        font-size: 16px;
        font-weight: 800;
        color: #232164;
        border: none;
        outline: none;
        background-color: #ffff;
        color: #E9303B;
    }

}
@media screen and (max-width: 540px) {
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 0px 0px 0px;
    }
    .modal-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
    .title-1{
        font-size: 17px;
        font-weight: 700;
        color: #262466;
    }
    .title-2{
        font-family: karla;
        font-size: 12px;
        font-weight: 400;
        color: #707070;
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .content-top{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .content-div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 5px 0px;
    }
    .card-title{
        font-size: 11px;
        font-weight: 600;
        color: #262466;
    }
    .card-down{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 0 4px 8px 0 rgba(124, 124, 124, 0.2), 0 6px 20px 0 rgba(124, 124, 124, 0.2);
        height: 60px;
        width: 180px;
        margin-top: 2px;
        border-radius: 6px;
        padding: 0px 0px 0px 15px;
    }
    .card-icon{
        width: 24px;
        margin: 0px 6px;
    }
    .card-react-icon{
        font-size: 17px;
        color: #3AB75D;
    }
    .card-react-icon-2{
        font-size: 20px;
        color: #262466;
    }
    .card-words{
        font-size: 11px;
        font-weight: 600;
        color: #262466;
        margin: 0px 7px;
    }
    .modal-close{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .modal-btn{
        font-family: karla;
        font-size: 13px;
        font-weight: 800;
        color: #232164;
        border: none;
        outline: none;
        background-color: #ffff;
        color: #E9303B;
        margin: 15px 0px -15px 0px;
    }

}