/* .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 30px;
} */
.card-wrapper{
    width: 80vw;
    height: 40rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin: 50px 30px 0px 30px;
}
.transactions-con{
    height: 33rem;
}
.transaction-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.transactions{
    font-size: 23px;
    font-weight: 600;
    color: #232164;
}
.transaction-btn{
}
.tabs-container{
    margin-top: 30px;
    width: 70vw;
    /* height: 25rem; */
    /* overflow-y: scroll; */
    overflow-x: hidden;
}
.tab-div{
    height: 20rem;
    overflow-y: scroll;
}
.tab-1{
    font-size: 14px;
    font-weight: 500;
    margin: 0px 0px 0px 0px;
    color: #707070;
}
.tab-2{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    color: #707070;
}
.tab-4{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    color: #707070;
}
.tab-icon{
    font-size: 18px;
    margin: 0px 8px 0px 0px;
}
.tab-icon2{
    font-size: 20px;
    margin: 0px 8px 0px 0px;
}
.pagination{
    float: right;
    margin-right: 25px;
    padding-top: 10px;
}
.page-index{
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    /* .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    } */
    .card-wrapper{
        width: 75vw;
        height: 35rem;
        padding: 20px;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        margin: 20px 18px 0px 18px;
    }
    .transactions-con{
        height: 27.5rem;
    }
    .transaction-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .transactions{
        font-size: 20px;
        font-weight: 600;
        color: #232164;
    }
    .tabs-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        width: 65vw;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .tab-1{
        font-size: 12px;
        font-weight: 500;
        margin: 0px 0px 0px 0px;
        color: #707070;
    }
    .tab-2{
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 0px;
        color: #707070;
    }
    .tab-4{
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 0px;
        color: #707070;
    }
    .tab-icon{
        font-size: 16px;
        margin: 0px 5px 0px 0px;
    }
    .tab-icon2{
        font-size: 18px;
        margin: 0px 5px 0px 0px;
    }
    .pagination{
        float: right;
        margin-right: 25px;
        margin-top: 20px;
        font-size: 12px !important;
    }
    .page-index{
        font-size: 11px;
    }

}

@media screen and (max-width: 768px) {
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .card-wrapper{
        width: 90vw;
        height: 34rem;
        padding: 20px;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        margin: 20px 20px 0px 20px;
    }
    .transactions-con{
        height: 24rem;
    }
    .transaction-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .transactions{
        font-size: 18px;
        font-weight: 600;
        color: #232164;
    }
    .tabs-container{
        margin-top: 10px;
        width: 75vw;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .tab-1{
        font-size: 11px;
        font-weight: 500;
        margin: 0px 0px 0px 0px;
        color: #707070;
    }
    .tab-2{
        font-size: 11px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 0px;
        color: #707070;
    }
    .tab-4{
        font-size: 11px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 0px;
        color: #707070;
    }
    .tab-icon{
        font-size: 14px;
        margin: 0px 5px 0px 0px;
    }
    .tab-icon2{
        font-size: 16px;
        margin: 0px 5px 0px 0px;
    }
    .pagination{
        float: right;
        margin-right: 25px;
        margin-top: 60px;
        font-size: 12px !important;
    }
    .page-index{
        font-size: 10px;
    }

}

@media screen and (max-width: 480px) {
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .card-wrapper{
        width: 90vw;
        height: 33rem;
        padding: 0px;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        margin: 20px 5px 0px 5px;
    }
    .transactions-con{
        height: 24.5rem;
    }
    .transaction-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .transactions{
        font-size: 16px;
        font-weight: 600;
        color: #232164;
    }
    .tabs-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        margin: 20px 10px 0px 10px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .tab-1{
        font-size: 9px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px -12px 0px -12px;
    }
    .tab-2{
        font-size: 9px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px -12px 0px -12px;
    }
    .tab-4{
        font-size: 9px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px -12px 0px -12px;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tab-icon{
        font-size: 12px;
        margin: 0px 2px 0px 0px;
    }
    .tab-icon2{
        font-size: 14px;
        margin: 0px 1px 0px 0px;
    }
    .pagination{
        float: right;
        margin-right: 25px;
        margin-top: 55px;
        font-size: 12px !important;
    }
    .page-index{
        font-size: 9px;
    }

}