.wrapper{
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.card-wrapper{
    width: 70vw;
    height: 31rem;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
}
.transaction-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.transactions{
    font-size: 23px;
    font-weight: 600;
    color: #232164;
}
.transaction-btn{
}
.tabs-container{
    margin-top: 20px;
    width: 70vw;
}
.tab-1{
    font-size: 14px;
    font-weight: 500;
    margin: 0px 0px 0px 0px;
    color: #707070;
}
.tab-2{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    color: #707070;
}
.tab-4{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    color: #707070;
}
.tab-icon{
    font-size: 18px;
    margin: 0px 8px 0px 0px;
}
.tab-icon2{
    font-size: 20px;
    margin: 0px 8px 0px 0px;
}
.pagination{
    float: right;
    margin-right: 25px;
    margin-top: 20px;
}
.page-index{
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .card-wrapper{
        width: 65vw;
        height: 27.5rem;
        padding: 20px;
    }
    .transaction-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .transactions{
        font-size: 20px;
        font-weight: 600;
        color: #232164;
    }
    .tabs-container{
        margin-top: 10px;
        width: 65vw;
    }
    .tab-1{
        font-size: 12px;
        font-weight: 500;
        margin: 0px 0px 0px 0px;
        color: #707070;
    }
    .tab-2{
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 0px;
        color: #707070;
    }
    .tab-4{
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 0px;
        color: #707070;
    }
    .tab-icon{
        font-size: 16px;
        margin: 0px 5px 0px 0px;
    }
    .tab-icon2{
        font-size: 18px;
        margin: 0px 5px 0px 0px;
    }
    .pagination{
        float: right;
        margin-right: 25px;
        margin-top: 20px;
        font-size: 12px !important;
    }
    .page-index{
        font-size: 11px;
    }

}

@media screen and (max-width: 768px) {
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .card-wrapper{
        width: 80vw;
        height: 27rem;
        padding: 20px;
    }
    .transaction-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .transactions{
        font-size: 18px;
        font-weight: 600;
        color: #232164;
    }
    .tabs-container{
        margin-top: 10px;
        width: 75vw;
    }
    .tab-1{
        font-size: 11px;
        font-weight: 500;
        margin: 0px 0px 0px 0px;
        color: #707070;
    }
    .tab-2{
        font-size: 11px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 0px;
        color: #707070;
    }
    .tab-4{
        font-size: 11px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 0px;
        color: #707070;
    }
    .tab-icon{
        font-size: 14px;
        margin: 0px 5px 0px 0px;
    }
    .tab-icon2{
        font-size: 16px;
        margin: 0px 5px 0px 0px;
    }
    .pagination{
        float: right;
        margin-right: 25px;
        margin-top: 15px;
        font-size: 12px !important;
    }
    .page-index{
        font-size: 10px;
    }

}

@media screen and (max-width: 480px) {
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .card-wrapper{
        width: 80vw;
        height: 24rem;
        padding: 0px;
    }
    .transaction-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .transactions{
        font-size: 16px;
        font-weight: 600;
        color: #232164;
    }
    .tabs-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75vw;
        margin: 10px 10px 0px 10px;
    }
    .tab-1{
        font-size: 9px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px -12px 0px -12px;
    }
    .tab-2{
        font-size: 9px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px -12px 0px -12px;
    }
    .tab-4{
        font-size: 9px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px -12px 0px -12px;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tab-icon{
        font-size: 12px;
        margin: 0px 2px 0px 0px;
    }
    .tab-icon2{
        font-size: 14px;
        margin: 0px 1px 0px 0px;
    }
    .pagination{
        float: right;
        margin-right: 25px;
        margin-top: 15px;
        font-size: 12px !important;
    }
    .page-index{
        font-size: 9px;
    }

}