@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.dropdown{
    position: absolute;
    margin: 1rem;
    right: 3vw;
    top: 0.5rem;
    bottom: 0%;
    width: 30rem;
    min-height: 38rem;
    max-height: 38rem;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 41, 0.25);
}

.dropdown-header{
display: flex;
gap: 16rem;
position: absolute;
left: 3rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
margin-top: 3rem;
margin-bottom: 1rem;
/* identical to box height */


color: #000000;

}
.dropdown-Line{
    background: #A4A4A4;
    position: absolute;
    left: 3rem;
    height: 0.1rem;
    width: 24rem;
    margin-top: 6rem;
}
.dropdown-Line2{
    background: #A4A4A4;
    position: relative;
    left: 3rem;
    height: 0.1rem;
    width: 24rem;
    margin-top: 2.5rem;
}
.dropdown-body{
  position: relative;
  top: 5.5rem;
}
.dropdown-item{
    display: flex;
    margin: 1rem;
}
.dropdown-name{
    position: relative;
left: 4rem;
width: 15rem;
top: 1rem;
bottom: 60%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 24px;

color: #000000;
}
.dropdown-img{
    background: #0257C0;
    border-radius: 50%;
    position: relative;
padding: 1.1rem;
    width: 4rem;
    height: 4rem;
    top: 1.8rem;
   right: -7rem;
}
.dropdown-date{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 21px;
/* identical to box height */
position: relative;
top: 1rem;
left: 4rem;
color: #7D8287;
}
.dropDownIcon{
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-top: 0.1rem;
    margin-left: 0.13rem;
}
.notification-item-success{
    background: #0257C0;
    border-radius: 50%;
    position: relative;
    width: 0.8rem;
    height: 0.8rem;
    top: 3.3rem;
   left: 3rem;
} 