.wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
}
.title-1{
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    color: #232164;
}
.title-2{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.form{
    margin-top: 50px;
    width: 25vw;
}
.label{
    font-size: 20px;
    font-weight: 500;
}
.input{
    border-radius: 5px;
    height: 50px;
}
.use-phone{
    font-size: 12px;
    font-weight: 500;
    color: #232164;
    text-decoration: underline;
    margin-top: -17px;
}
.button{
    width: 25vw;
    background-color: #232164;
    color: #ffff;
    height: 55px;
    font-size: 15px;
    margin-top: 40px;
}
.div-3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.remember{
    text-align: center;
    width: 25vw;
    color: #8E8E8E;
    font-size: 15px;
}
.login{
    color: #232164;
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .wrapper{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-con{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25vw;
    }
    .title-1{
        text-align: center;
        font-size: 27px;
        font-weight: 600;
        color: #232164;
    }
    .title-2{
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }
    .form{
        margin-top: 50px;
        width: 25vw;
    }
    .label{
        font-size: 20px;
        font-weight: 500;
    }
    .input{
        border-radius: 5px;
        height: 50px;
    }
    .use-phone{
        font-size: 12px;
        font-weight: 500;
        color: #232164;
        text-decoration: underline;
        margin-top: -17px;
    }
    .button{
        width: 25vw;
        background-color: #232164;
        color: #ffff;
        height: 55px;
        font-size: 15px;
        margin-top: 40px;
    }
    .div-3{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .remember{
        text-align: center;
        width: 25vw;
        color: #8E8E8E;
        font-size: 15px;
    }
    .login{
        color: #232164;
        text-decoration: underline;
    }

}