.recovery-container {
  background-color: white;
  height: 100vh;
  font-family: "Poppins";
}
.logo-container {
  padding-top: 12px;
  padding-bottom: 32px;
}
.logo {
  padding-left: 20px;
  padding-right: 20px;
}
.recovery-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recovery {
  width: 500px;
  height: 460px;
  box-shadow: 0px 3px 6px rgba(0, 0, 41, 0.25);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
}
.recovery-con{
  width: 350px;
}
.recovery-header {
  color: #232164;
text-align: center;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 8px;
}
.recovery-p {
  font-size: 14px;
  color: #000;
  margin-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
}
.recovery-text {
  font-size: 14px;
  color: #000;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
 
}
.recovery-form {
  margin-top: 8px;
}
.recovery-label {
  color: #000;
  font-size: 12px;
  margin-bottom: 4px;
}
.recovery-input {
  width: 100%;
  height: 40px;
  border: 1px solid #d5d8da;
  border-radius: 5px;
}
.recovery-input input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  background: transparent;
  padding-left: 12px;
  color: #232164;
}
.recovery-inputt {
  width: 100%;
  height: 40px;
  border: 1px solid #d5d8da;
  border-radius: 5px;
   margin-bottom: 20px;
}
.recovery-inputt input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  background: transparent;
  padding-left: 12px;
  color: #232164;
}
.recovery-input :focus {
  border: 2px solid #232164;
  border-radius: 5px;
}
.recovery-inputt :focus {
  border: 2px solid #232164;
  border-radius: 5px;
}
.recovery-phone {
  font-weight: 500;
  font-size: 10px;
  text-decoration-line: underline;
  color: #232164;
}
.recovery-continue {
  margin-top: 20px;
}
.recovery-continue button {
  width: 100%;
  color: white;
  font-size: 12px;
  height: 43px;
  font-weight: 700;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232164;
}
.recovery-continuee {
  margin-top: 20px;
}
.recovery-continuee button {
  width: 100%;
  color: white;
  font-size: 12px;
  height: 38px;
  font-weight: 700;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232164;
}
.recovery-remember {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 20px;
  color: #8e8e8e;
  text-align: center;
  margin-top: 4px;
}
.recovery-remember h5 span {
  font-size: 19x;

  color: #232164;
}
.code-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

 
}

.code-inputs input {
  width: 35px;
  height: 35px;
  border: 1px solid #232164;
  border-radius: 8px;
  font-size: 20px;
  margin: 0 4px;
  
}
.code-inputs input:focus {
  outline: none;
}
.code-label {
  font-weight: 600;
  color: #232164;
  font-size: 12px;
  padding-left: 4px;
  margin-top: 15px;
  margin-bottom: 8px;
}
.recovery-text-con{
  margin-bottom: 6px;
}
.recovery-con{
  width: 350px;
}

.recovery-pp {
  font-size: 14px;
  color: #000;
  margin-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
  text-align: center;
}
.recovery-img {
  width: 100px;
  margin-top: 4px;
}
.recovery-imgg {
  width: 100px;
  margin-top: 4px;
 
}
.recovery-img-con{
  display: flex;
  justify-content: center;
  align-items: center;
}
.recovery-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 4px;
}
.recovery-footer h6 {
  color: #706e6e;
  font-size: 12px;
}
.recovery-footer img {
  width: 60px;
}
.recovery-success{
  width: 200px;
}


@media only screen and (max-width : 1024px) {
  .recovery {
    width: 450px;
    height: 440px;
   margin-left: 10px;
   margin-right: 10px;
 
   padding-left: 10px;
   padding-right: 10px;
 
  
  
  }
  .recovery-p{
    text-align: center;
  }
  .recovery-con{
    width: 350px;
  }
  .recovery-p{
    padding-left: 0px;
    padding-right: 0px;
    
  }
  .logo {
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
  }
  .recovery-pp {
    
    padding-left: 0px;
    padding-right: 0px;
    
  }
  .code-inputs{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .code-label {

    margin-top: 10px;
   
  }.recovery-img {
    width: 80px;

   
  }
  .recovery-success{
    width: 150px;
  }
  
}
@media only screen and (max-width : 500px) {
  .recovery {
    width: 100%;
    height: 460px;
   margin-left: 10px;
   margin-right: 10px;
   box-shadow: 0px 3px 6px rgba(255, 255, 255, 0);
   padding-left: 10px;
   padding-right: 10px;
   display: block;
   margin-top: 100px;
  
  }
  .recovery-p{
    text-align: center;
  }
  .recovery-con{
    width: 100%;
  }
  .recovery-p{
    padding-left: 0px;
    padding-right: 0px;
    
  }
  .logo-container {
    padding-bottom: 12px;
  }
  .logo {
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
  }
  .recovery-pp {
    
    padding-left: 0px;
    padding-right: 0px;
    
  }
  .code-inputs{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .code-label {

    margin-top: 10px;
   
  }.recovery-img {
    width: 80px;

   
  }
  .recovery-success{
    width: 150px;
  }
  
}