.profile-card-wrapper{
    color: black;
    background-color: #ffff;
    margin: 10px 0px 0px 0px;
    padding: 25px;
    border-radius: 18px;
    width: 35vw;
}
.profile-card-top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.profile-card-line{
    margin-top: 8px;
    border: 1px solid #86D19B;
}
.profile-card-top-name{
    color: #232164;
    font-size: 19px;
    font-weight: 600;
}
.profile-card-top-id{
    color: #7D8287;
    font-size: 14px;
    font-weight: 500;
}
.profile-card-icon-con{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}
.profile-card-icon{
    margin-top: 10px;
    font-size: 27px;
}
.profile-card-amount{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-card-total-con{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.profile-card-total{
    color: #7D8287;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0px 5px 0px;
}
.profile-card-sign{
    color: #232164;
    font-size: 16px;
    font-weight: 200;
    font-family: Verdana;
}
.profile-card-balance-1{
    color: #232164;
    font-size: 23px;
    font-weight: 700;
}
.profile-card-balance-2{
    color: #7D82877D;
    font-size: 23px;
    font-weight: 700;
}
.profile-card-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 25px 13px 2px;
}
@media screen and (max-width: 1200px) {
    .profile-card-wrapper{
        color: black;
        background-color: #ffff;
        margin: 0px 0px;
        padding: 20px;
        border-radius: 18px;
        width: 35vw;
    }
    .profile-card-top{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .profile-card-line{
        margin-top: 8px;
        border: 1px solid #86D19B;
    }
    .profile-card-top-name{
        color: #232164;
        font-size: 16px;
        font-weight: 600;
    }
    .profile-card-top-id{
        color: #7D8287;
        font-size: 12px;
        font-weight: 500;
    }
    .profile-card-icon-con{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 15px;
    }
    .profile-card-icon{
        margin-top: 10px;
        font-size: 24px;
    }
    .profile-card-amount{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .profile-card-total-con{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .profile-card-total{
        color: #7D8287;
        font-size: 13px;
        font-weight: 500;
        margin: 5px 0px 5px 0px;
    }
    .profile-card-sign{
        color: #232164;
        font-size: 14px;
        font-weight: 200;
        font-family: Verdana;
    }
    .profile-card-balance-1{
        color: #232164;
        font-size: 16px;
        font-weight: 700;
    }
    .profile-card-balance-2{
        color: #7D82877D;
        font-size: 16px;
        font-weight: 700;
    }
    .profile-card-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 6px 8px 2px;
    }

}
@media screen and (max-width: 768px) {
    .profile-card-wrapper{
        color: black;
        background-color: #ffff;
        margin: 5px 0px;
        padding: 20px;
        border-radius: 18px;
        width: 40vw;
    }
    .profile-card-top{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .profile-card-line{
        margin-top: 5px;
        border: 1px solid #86D19B;
    }
    .profile-card-top-name{
        color: #232164;
        font-size: 14px;
        font-weight: 600;
    }
    .profile-card-top-id{
        color: #7D8287;
        font-size: 11px;
        font-weight: 500;
        margin-top: 5px;
    }
    .profile-card-icon-con{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 15px;
    }
    .profile-card-icon{
        margin-top: 10px;
        font-size: 24px;
    }
    .profile-card-amount{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .profile-card-total-con{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .profile-card-total{
        color: #7D8287;
        font-size: 12px;
        font-weight: 500;
        margin: 0px 0px 5px 0px;
    }
    .profile-card-sign{
        color: #232164;
        font-size: 12px;
        font-weight: 200;
        font-family: Verdana;
    }
    .profile-card-balance-1{
        color: #232164;
        font-size: 15px;
        font-weight: 700;
    }
    .profile-card-balance-2{
        color: #7D82877D;
        font-size: 15px;
        font-weight: 700;
    }
    .profile-card-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 18px 18px 5px 0px;
    }

}
@media screen and (max-width: 480px) {
    .profile-card-con{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .profile-card-wrapper{
        color: black;
        background-color: #ffff;
        margin: 0px 0px 15px 0px;
        padding: 20px;
        border-radius: 18px;
        width: 90vw;
    }
    .profile-card-top{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .profile-card-line{
        margin-top: 5px;
        border: 1px solid #86D19B;
    }
    .profile-card-top-name{
        color: #232164;
        font-size: 14px;
        font-weight: 600;
    }
    .profile-card-top-id{
        color: #7D8287;
        font-size: 11px;
        font-weight: 500;
        margin-top: 5px;
    }
    .profile-card-icon-con{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 15px;
    }
    .profile-card-icon{
        margin-top: 10px;
        font-size: 24px;
    }
    .profile-card-amount{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .profile-card-total-con{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .profile-card-total{
        color: #7D8287;
        font-size: 12px;
        font-weight: 500;
        margin: 0px 0px 5px 0px;
    }
    .profile-card-sign{
        color: #232164;
        font-size: 12px;
        font-weight: 200;
        font-family: Verdana;
    }
    .profile-card-balance-1{
        color: #232164;
        font-size: 15px;
        font-weight: 700;
    }
    .profile-card-balance-2{
        color: #7D82877D;
        font-size: 15px;
        font-weight: 700;
    }
    .profile-card-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 18px 18px 5px 0px;
    }
    .profile-bottom-fund{
        background-color: #3AB75D;
        border-radius: 5px;
        padding: 8px 31px;
        border: none;
        font-size: 9px;
        text-align: center;
    }

}