.HomePage-con{
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: poppins;
  background: #353935;
  height: 100vh;
}
.loader-div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader-img{
    position: relative;
    width: 60vw;
    animation: fade 4s infinite ease;
  }
  @keyframes fade {
    0%   {opacity: 1;}
    25% {opacity: 0.5;}
    50% {opacity: 1;}
    75% {opacity: 0.5;}
  }
  
  @media (max-width: 1024px) {
    .HomePage-con{
      scroll-behavior: smooth;
      overflow-x: hidden;
      font-family: poppins;
      background: #353935;
      height: 100vh;
    }
    .loader-div{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    
    .loader-img{
        position: relative;
        width: 60vw;
        animation: fade 4s infinite ease;
      }
      @keyframes fade {
        0%   {opacity: 1;}
        25% {opacity: 0.5;}
        50% {opacity: 1;}
        75% {opacity: 0.5;}
      }
  }

  @media (max-width: 768px) {
    .HomePage-con{
      scroll-behavior: smooth;
      overflow-x: hidden;
      font-family: poppins;
      background: #353935;
      height: 100vh;
    }
    .loader-div{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    
    .loader-img{
        position: relative;
        width: 60vw;
        animation: fade 4s infinite ease;
      }
      @keyframes fade {
        0%   {opacity: 1;}
        25% {opacity: 0.5;}
        50% {opacity: 1;}
        75% {opacity: 0.5;}
      }
  }

  @media (max-width: 480px) {
    .HomePage-con{
      scroll-behavior: smooth;
      overflow-x: hidden;
      font-family: poppins;
      background: #353935;
      height: 100vh;
    }
    .loader-div{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    
    .loader-img{
        position: relative;
        width: 100vw;
        animation: fade 4s infinite ease;
      }
      @keyframes fade {
        0%   {opacity: 1;}
        25% {opacity: 0.5;}
        50% {opacity: 1;}
        75% {opacity: 0.5;}
      }
  }
  