.sign-in-con{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-in-left{
    width: 50vw;
    position: relative;
}
.sign-logo-con{
    position: absolute;
    margin: 70px 0px 0px 70px;
    width: 50vw;
}
.sign-vendor-message{
    position: relative;
}
.sign-in-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}
.sign-logo-con-right{
    display: none;
}
.sign-title-con{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #262466;
    font-weight: 800;
    margin-bottom: 18px;
    font-size: 17px;
    width: 50%;
}
.sign-in-input{
    width: 25vw;
    height: 45px;
    border-radius: 3px;
}
.sign-in-check-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 25vw;
}
.sign-check-words{
    color: #8E8E8E;
    text-decoration: none;
}
.sign-btn-con{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
}
.sign-in-btn{
    margin-top: 40px;
    padding: 0px 0px;
    height: 45px;
    width: 25vw;
    text-align: center;
    background-color: #232164;
    color: #ffff;
    border-radius: 3px;
}
.sign-create-account{
    color: #8E8E8E;
    font-size: 14px;
    margin-top: 8px;
}
.sign-in-link{
    color: #232164;
    text-decoration: none;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    .sign-in-con{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sign-in-left{
        width: 50vw;
        position: relative;
    }
    .sign-logo-con{
        position: absolute;
        margin: 50px 0px 0px 50px;
        width: 50vw;
    }
    .sign-vendor-message{
        position: relative;
    }
    .sign-in-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50vw;
        margin-top: 0%;
    }
    .sign-logo-con-right{
        display: none;
    }
    .sign-title-con{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #262466;
        font-weight: 800;
        margin-bottom: 18px;
        font-size: 14px;
        width: 50%;
    }
    .sign-in-input{
        width: 25vw;
        height: 35px;
        border-radius: 3px;
    }
    .sign-in-check-div{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 25vw;
    }
    .sign-check-words{
        color: #8E8E8E;
        text-decoration: none;
        font-size: 13px;
    }
    .sign-btn-con{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25vw;
    }
    .sign-in-btn{
        margin-top: 40px;
        padding: 0px 0px;
        height: 35px;
        width: 25vw;
        text-align: center;
        background-color: #232164;
        color: #ffff;
        border-radius: 3px;
    }
    .sign-create-account{
        color: #8E8E8E;
        font-size: 11px;
        margin-top: 8px;
    }
    .sign-in-link{
        color: #232164;
        text-decoration: none;
        font-weight: 600;
    }

}
@media screen and (max-width: 768px) {
    .sign-in-con{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sign-in-left{
        width: 50vw;
        display: none;
    }
    .sign-in-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin-top: 25%;
    }
    .sign-logo-con-right{
        display: block;
        position: absolute;
        margin: 0px 0px 0px 50px;
        margin-top: 10%;
        width: 50vw;
    }
    .sign-title-con{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #262466;
        font-weight: 800;
        margin-bottom: 18px;
        font-size: 18px;
        width: 45%;
    }
    .sign-in-input{
        width: 45vw;
        height: 35px;
        border-radius: 3px;
    }
    .sign-in-check-div{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 45vw;
    }
    .sign-check-words{
        color: #8E8E8E;
        text-decoration: none;
        font-size: 13px;
    }
    .sign-btn-con{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45vw;
    }
    .sign-in-btn{
        margin-top: 40px;
        padding: 0px 0px;
        height: 35px;
        width: 45vw;
        text-align: center;
        background-color: #232164;
        color: #ffff;
        border-radius: 3px;
    }
    .sign-create-account{
        color: #8E8E8E;
        font-size: 11px;
        margin-top: 8px;
    }
    .sign-in-link{
        color: #232164;
        text-decoration: none;
        font-weight: 600;
    }

}
@media screen and (max-width: 480px) {
    .sign-in-con{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sign-in-left{
        width: 50vw;
        display: none;
    }
    .sign-in-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin-top: 50%;
    }
    .sign-logo-con-right{
        display: flex;
        position: absolute;
        margin: 0px 0px 0px 50px;
        margin-top: 10%;
        width: 50vw;
    }
    .sign-title-con{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #262466;
        font-weight: 800;
        margin-bottom: 18px;
        font-size: 18px;
        width: 65%;
    }
    .sign-in-input{
        width: 65vw;
        height: 30px;
        border-radius: 3px;
    }
    .sign-in-check-div{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 65vw;
    }
    .sign-check-words{
        color: #8E8E8E;
        text-decoration: none;
        font-size: 13px;
    }
    .sign-btn-con{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65vw;
    }
    .sign-in-btn{
        margin-top: 30px;
        padding: 0px 0px;
        height: 35px;
        width: 65vw;
        text-align: center;
        background-color: #232164;
        color: #ffff;
        border-radius: 3px;
    }
    .sign-create-account{
        color: #8E8E8E;
        font-size: 11px;
        margin-top: 8px;
    }
    .sign-in-link{
        color: #232164;
        text-decoration: none;
        font-weight: 600;
    }

}