.wrapper{
    margin-top: 60px;
}
.faq-title{
    font-size: 23px;
    font-weight: 500;
    color: #29267b;
    margin: 0px 25px;
}

@media screen and (max-width: 1024px) {
    .wrapper{
        margin-top: 40px;
    }
    .faq-title{
        font-size: 15px;
        font-weight: 500;
        color: #29267b;
        margin: 0px 25px;
    }

}
@media screen and (max-width: 768px) {
    .wrapper{
        margin-top: 40px;
    }
    .faq-title{
        font-size: 15px;
        font-weight: 500;
        color: #29267b;
        margin: 0px 25px;
    }

}
@media screen and (max-width: 540px) {
    .wrapper{
        margin-top: 40px;
    }
    .faq-title{
        font-size: 14px;
        font-weight: 500;
        color: #29267b;
        margin: 0px 25px;
    }

}