@import url('https://fonts.googleapis.com/css2?family=Karla&family=Lato:wght@900&family=Montserrat:wght@600&family=Poppins:wght@400;600&display=swap');

/* Signup start */
.signup-view{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;

background: #FFFFFF;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
align-items: center;
}

.signup-view-right{
    width: 50vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50vw;
    background: #F9F9F9;
}
.signup-view-left-top{
    position: absolute;
    width: 90px;
    left: 3rem;
    top: 4%;

}
.text-top{
    position: absolute;
width: 27px;
height: 27px;
right: 40vw;
top: 27%;

font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 24px;
padding-left: 5px;

color: #232164;

background: #FFFFFF;
border: 1.5px solid #CFD7DE;
border-radius: 50%;
}
.text-bottom{
    position: absolute;
    width: 30vw;
    height: 5rem;
    right: 10vw;
    top: 37%;

font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 16px;
/* or 43px */

display: flex;
align-items: flex-end;

color: #252525;
}
.signup-view-right-bottom-img{
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    right: 35vw;
    top: 53%;
}
.signup-view-right-bottom-name{
    position: absolute;
       width: 30vw;
    height: 3.5rem;
    right: 0%;
    top: 50%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    /* or 35px */
    
    display: flex;
    align-items: flex-end;
    
    color: #252525;
    
}
.signup-view-right-bottom-nameUser{
    position: absolute;
    width: 30vw;
    height: 3.5rem;
    right: 0%;
    top: 53%;
    

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 10px;;
/* or 26px */

display: flex;
align-items: flex-end;

color: #8D8D8D;
}

.signup-view-left-bottom-text{
    position: absolute;
    width: 30%;
    left: 10%;
    top: 15%;

font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 18px;

line-height: 24px;

color: #262466;
}
.green-text{
    color: 
    #3AB75D;
}
.form{
    position: absolute;
    left: 10%;
    top: 25%;
}
.form-text{
    width: 50vw;
    height: 5rem;
margin-top: -2rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
/* identical to box height */
display: flex;
align-items: flex-end;

color: #030303;
}

.input-field{
    margin-bottom: 2%;
}
.inputBox{
width: 30vw;
    height: 2.5rem;
background-color: #FFFF;
border: 0.5px solid #D5D8DA;
border-radius: 5px;
}
.radio-button{
    width: 14px;
height: 12px;
cursor: pointer;
border: 0.5px solid #1F5699;
border-radius: 2px;
}
.radio-button-container{
    position: relative;
    left: 0vw;
    top: 3rem;
    display: flex;
    gap: 1vw;
}
.radio-text{
    width: 30vw;


font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 16px;

color: #7D8287;
}
.text-blue{
    color: #01306B;
}
.signup-button{
    box-sizing: border-box;
    
    position: absolute;
    width: 30vw;
    height: 2.5rem;
    left: 0vw;
    top: 118%;
    
    
    border: 0.5px solid #D5D8DA;
    border-radius: 5px;
}
.yes{
    color: #D5D8DA;
    background: rgba(35, 33, 100, 1);
}
.no{
    background: rgba(35, 33, 100, 0.21);
}
.signup-view-left-bottom-link{
    position: absolute;
width: 156px;
height: 24px;
left: 33%;
top: 95%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: flex-end;
text-decoration-line: underline;

color: #232164;
}
.error{
    position: absolute;
    width: 30vw;
margin-top: -0.1rem;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 11px;
/* identical to box height */

display: flex;
align-items: flex-end;
padding-left: 0.5rem;
color: #FC0D1B;
}
.shift{
    position: absolute;
    left: 1vw;
}

.arrowIconSignup{
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 27vw;
    top: 121%;
cursor: pointer;
}

/* media queery for signup page*/
@media screen and (max-width: 980px) {
    .signup-view-left-bottom-link{
 
    left: 25%;
   
    }
    .arrowIconSignup{
        top: 121%;
    }
}

@media screen and (max-width: 820px) {
    .text-bottom{
        width: 25vw;
    
        right: 15vw;
        
    font-size: 14px;
    /* or 43px */
 
    
    color: #252525;
    }
    .signup-view-left-bottom-text{
    font-size: 14px;
    
    
    }
    .signup-view-left-bottom-link{
 
        left: 25%;
       
        }
        .text-bottom{
    
        font-size: 14px;
        
        }
}
@media screen and (max-width: 820px) {
    .text-bottom{
    
        font-size: 12px;
        
        }
        .arrowIconSignup{
            top: 121%;
        }
      /*   .signup-view-right{
            display: none;
        } */
}
@media screen and (max-width: 560px) {
 .signup-view-right{
    display: none;
 }
 .inputBox{
    width: 80vw;
    }
    .signup-button{
        width: 80vw;
    }
    .signup-view-left-bottom-text{
        width: 60vw;
    }
    .radio-text{
        width: 60vw;
    }
    .arrowIconSignup{
        left: 70vw;
    }
    .signup-view-left-bottom-link{
        left: 70vw;
    }
    .error{
        width: 45vw;
    }
}

/* media queery for signup page*/

/* bvn */
.cardContainer-bvn{
    position: absolute;
    width: 40%;
    height: 75%;
    left: 30%;
    top: 12.5%;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 41, 0.25);
    border-radius: 20px;
    min-height: 40rem;
    max-height: 40rem;
    top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
/* .cardContainer{
    position: absolute;
width: 40vw;
height: 70vh;
left: 30vw;
top: 15vh;
background: #FFFFFF;
box-shadow: 0px 3px 6px rgba(0, 0, 41, 0.25);
border-radius: 20px;
} */
.card-titleBVN{
    position: relative;
    width: 40vw;
    left: 4vw;
top: 2rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
/* identical to box height */


color: #232164;
}
.field{
    position: relative;
    width: 28vw;
    left: 5vw;
    top: 2.5rem;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 12px;
display: flex;
align-items: flex-end;

color: rgba(35, 33, 100, 0.5);

}

.inputBoxBVN{
    width: 33vw;
    height: 2.5rem;
background-color: #FFFF;
border: 0.5px solid #D5D8DA;
border-radius: 5px;
}
.form-textBVN2{
    width: 30vw;
 
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
/* identical to box height */
background-color: #FFFF;
display: flex;
align-items: flex-end;

color: #030303;
}
.input-field-bvn{
margin-bottom: 2%;
}
.form-text-bvn{
    position: relative;
    width: 30vw;
    height: 10vh;
margin-top: -2rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
/* identical to box height */
display: flex;
align-items: flex-end;

color: #232164;
}
.form-textBVN{
    position: absolute;
    top: 0vh;
    left: -1vw;
    width: 30vw;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 10px;
}

.lockIcon{
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: -2vw;
    top: 1vh;
    background-color: #FFFF;
border: 0.5px solid #D5D8DA;
border-radius: 50%;
}
.bvn-button{
    box-sizing: border-box;

    position: absolute;
    width: 33vw;
    height: 2.5rem;
    left: 0vw;
    top: 110%;
    
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
    border: 0.5px solid #D5D8DA;
    border-radius: 5px;
}
.field-bottom-bvn{
    position: absolute;
    width: 33vw;
    height: 5vh;
    left: 11vw;
    top: 29.5rem;
    

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 10px;
/* or 209% */

display: flex;
color: #706E6E;
}
.field-bottom-img{
    width: 4rem;
    height: 2.5rem;
    margin-left: 0.5rem;
    margin-top: -0.5rem;
}

.bvn{
    position: absolute;
    width: 40%;
    left: 3.5rem;
    top: 7rem;
}

.skip-link{
position: absolute;
    width: 156px;
    height: 24px;
    left: 21vw;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    text-decoration-line: underline;
    
    color: #232164;
}
/* media queery for bvn page*/
@media screen and (max-width: 980px) {
.field-bottom-bvn{
    left: 9vw;
    top: 29.5rem;
}
}
@media screen and (max-width: 920px) {
    .card-title{
        width: 40vw;
        left: 10%;
        top: 2rem;
    
    font-size: 18px;
    /* identical to box height */
    
    }
    .form-textBVN{
        width: 30vw;
    }
 
    .bvn{
        position: absolute;
        width: 40%;
        left: 10%;
        top: 7.5rem;
    }
    .error{
        width: 30vw;
    }
}
@media screen and (max-width: 680px) {
    .cardContainer-bvn{
        width: 60%;
        left: 20%;
        top: 50%;
        left: 20%;
        transform: translate(0%, -45%);
    }
    .inputBoxBVN{
        width: 48vw;
    }
    
    .form-textBVN{
        position: absolute;
        top: 1vh;
        left: 1vw;
        width: 50vw;
        font-family: 'Poppins';
        font-style: normal;
        font-size: 10px;
    }
   
    .bvn-button{
        width: 47vw;
    }
    .field-bottom-bvn{
        left: 11vw;
        top: 29.5rem;
    }
    .skip-link{
        left: 33vw;
    }    
    .card-titleBVN{
        left: 6vw;
    }
    .form-text{
        width: 50vw;
        height: 5rem;
    margin-top: -2rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    
    color: #030303;
    }
    
}
 /* password page */
.password-view-left-bottom-text{
    position: absolute;
    width: 30vw;
    left: 10%;
    top: 4rem;

font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 14px;

color: #262466;
}

.cardContainerPassword{
    position: absolute;
    width: 40%;
    height: 75%;
    left: 30%;
    top: 18%;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 41, 0.25);
    border-radius: 20px;
    min-height: 35rem;
    max-height: 35rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}
.password-button{
    box-sizing: border-box;

    position: absolute;
    width: 33vw;
    height: 2.5rem;
    left: 0vw;
    top: 16rem;
    
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
    border: 0.5px solid #D5D8DA;
    border-radius: 5px;
}

.field-bottom-password{
    position: absolute;
    left: 15vw;
    top: 85%;
    

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 10px;
/* or 209% */

display: flex;
color: #706E6E;
}
.password{
    position: absolute;
    width: 30vw;
    left: 10%;
    top: 10rem;
}
.eyeIcon{
 position: relative;
    left: 1vw;
    top: 0.5rem;
    background-color: #FFFF;
border: 0.5px solid #D5D8DA;
border-radius: 50%;
cursor: pointer;
}
.passwordSee{
    background: rgb(255, 255, 255);
    position: relative;
    width: 4rem;
    height: 2rem;
    left: 27vw;
    top: -2.2rem;
    border-radius: 5px;
}
.questionIcon{
    position: relative;
    width: 1rem;
    height: 1rem;
    left: 1rem;
    top: -0.5vh;
    background-color: #FFFF;
    cursor: pointer;
}
.arrowIcon{
    position: relative;
    width: 1rem;
    height: 1rem;
    left: 37vw;
    top: 2rem;
cursor: pointer;
}

.passShift{
    left: 1vw;
    top: 6rem;
}
.passShift2{
    position: absolute;
    left: 1vw;
    top: 13.7rem;
}
.passShift21{
    position: absolute;
    left: 1vw;
    top: 5.5rem;
}
.exIconPass{
    position: relative;
    top: -0.2rem;
    left: -1vw;
}

@media screen and (max-width: 1300px) {
  
    .exIconPass{
        position: relative;
        top: -1.5rem;
        left: -1vw;
    }
    }
@media screen and (max-width: 920px) {
    .password-view-left-bottom-text{
        
        width: 35vw;
        
    font-size: 12px;
    
    
    }
.exIconPass{
    position: relative;
    top: -1.5rem;
    left: -1vw;
}
.passwordSee{
    width: 3rem;
}
}
@media screen and (max-width: 720px) {
    .password-view-left-bottom-text{
        
        width: 35vw;
        
    font-size: 12px;
    
    
    }
    .passShift{
        font-size: 10px;
        width: 45vw;
    }
    .passwordSee{
        width: 2rem;
        left: 29vw;
    }
    .error{
        width: 30vw;
    }
}
@media screen and (max-width: 680px) {
    .password-view-left-bottom-text{
        
        width: 45vw;
        
    font-size: 12px;
    
    
    }
    .cardContainerPassword{
        width: 60%;
        left: 20%;
        top: 50%;
        left: 20%;
        transform: translate(0%, -45%);
    }
    .password-button{
        width: 47vw;
    }
    
    .eyeIcon{
     position: relative;
        left: 3vw;
        top: 0.5rem;
        background-color: #FFFF;
    border: 0.5px solid #D5D8DA;
    border-radius: 50%;
    cursor: pointer;
    }
    .passwordSee{
        background: rgb(255, 255, 255);
        position: relative;
        width: 4rem;
        height: 2rem;
        left: 37.5vw;
        top: -2.2rem;
        border-radius: 5px;
    }
    .error{
        width: 45vw;
    }
   
}
/* media queery for password page*/

.cardContainerTransaction{
  position: absolute;
    width: 30%;
    height: 75%;
    left: 30%;
    top: 12.5%;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 41, 0.25);
    border-radius: 20px;
    min-height: 40rem;
    max-height: 40rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}
.form-textTransaction{
    position: absolute;
width: 20vw;
left: -9vw;
top: -12.5rem;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 11px;
text-align: center;

color: #333333;
}
.form-textTranc{
    position: absolute;
top: -7rem;
left: -9vw;
    width: 20vw;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
/* identical to box height */
display: flex;
align-items: flex-end;

color: #030303;
}
.form-textTranc2{
    position: absolute;
    top: -10rem;
left: -9vw;
    width: 20vw;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
/* identical to box height */
display: flex;
align-items: flex-end;

color: #030303;
}
.Transaction-view-left-bottom-text{
    position: absolute;
    width: 23vw;
    left: 4vw;
    top: 3rem;
    

font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 13px;

color: #262466;
}
.transaction{
    position: absolute;
    left: 8vw;
    top: 50%;
}
.fieldPin{
    position: relative;
    width: 3rem;
    height: 3rem;
    left: -1vw;
border: 0.5px solid #D5D8DA;
border-radius: 5px;
display: flex;

}
.input-fieldPin{
    position: relative;
    left: 6vw;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    
}
.input-fieldPinWrap{
    left: -8vw;
   top: -5rem;
    width: 20vw;
    position: relative;
    display: flex;
    margin-bottom: -1rem;
    justify-content: space-between;
    margin-bottom: 30%;
}
.input-fieldPinWrap2{
    left: -8vw;
    top: -8rem;
    width: 20vw;
    position: absolute;
    display: flex;
    margin-bottom: -1rem;
    justify-content: space-between;
}
.arrowIconTrans{
    position: relative;
    width: 1rem;
    height: 1rem;
    left: 26vw;
    top: 12rem;
cursor: pointer;
}
.Transaction-button{
    box-sizing: border-box;

    position: absolute;
    width: 20vw;
    height: 2.5rem;
    left: -3vw;
    top: 10rem;
    
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
    border: 0.5px solid #D5D8DA;
    border-radius: 5px;
}


.exIconTrans{
    position: absolute;
    top: 0.2rem;
    left: -1.5vw;
}
.field-bottom-transaction{
    position: absolute;
    width: 50vw;
    height: 5vh;
    left: 10vw;
    top: 35rem;
    

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 10px;
/* or 209% */

display: flex;
color: #706E6E;
}
.tranc{
    position: absolute;
    left: -2.5vw;
    top: -1.5rem;
}
.tranc2{
    position: absolute;
    left: -2.5vw;
    top: 7.5rem;
}
@media screen and (max-width: 1200px) {
    .Transaction-view-left-bottom-text{
    font-size: 12px;
    
    }
    .form-textTransaction{
    font-size: 10px;
    left: -9vw;
    }
    .field-bottom-transaction{
        left: 12vw;
    }
    .input-fieldPinWrap2{
   
        top: -7rem;
     
    }
    .form-textTranc2{
  
        top: -9rem;
     
    }
    .tranc2{
        position: absolute;
        left: -2.5vw;
        top: 7rem;
    }
    .field-bottom-transaction{
        left: 8vw;
    }
}
@media screen and (max-width: 1020px) {
    .input-fieldPinWrap2{

        top: -6.5rem;
     
    }
    .form-textTranc2{
        font-size: 11px;
        top: -8.5rem;
     
    }
    .form-textTranc{
        font-size: 11px;
     
    }
    .tranc2{
        position: absolute;
        left: -2.5vw;
        top: 6rem;
    }
    .fieldPin{
        width: 2.5rem;
        height: 2.5rem;
    }
}
@media screen and (max-width: 980px) {
    .input-fieldPinWrap2{
   
        top: -5.5rem;
     
    }
    .form-textTranc2{
        
        top: -7.5rem;
     
    }
   
    
}


@media screen and (max-width: 880px) {
    .cardContainerTransaction{
          width: 60%;
          left: 30%;
          top: 12.5%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -45%);
      }
      .form-textTransaction{
    width: 45vw;
    left: -4vw;
    top: -12.5rem;
    font-size: 12px;
    }
    .form-textTranc{
    top: -7rem;
    left: -9vw;
        width: 20vw;
    font-size: 14px;
    }
    .form-textTranc2{
        top: -10rem;
    left: -9vw;
        width: 30vw;
    font-size: 14px;
    }
    .Transaction-view-left-bottom-text{
        width: 45vw;
        left: 9vw;
    font-size: 14px;
    }
    .transaction{
        left: 8vw;
    }
   
    .input-fieldPin{
        left: 10vw;
    }
    .input-fieldPinWrap{
        left: -8vw;
       top: -5rem;
        width: 40vw;
    }
    .Transaction-button{
 
        width: 40vw;
        left: 1vw;
       
    }
    .field-bottom-transaction{
        left: 20vw;
    }
    .tranc{
        left: 2vw;
        top: -1.2rem;
    }
   
    .input-fieldPinWrap2{
        width: 40vw;
        top: -8rem;
    }
   
    .tranc2{
        position: absolute;
        left: 2vw;
        top: 7rem;
    }
    .fieldPin{
        width: 3.5rem;
        height: 3.5rem;
    }
}
@media screen and (max-width: 760px) {
    
        .form-textTranc2{
            top: -9rem;
        left: -9vw;
            width: 30vw;
        font-size: 14px;
        }
        
        .input-fieldPinWrap2{
            width: 40vw;
            top: -7rem;
        }
       
        .tranc2{
            position: absolute;
            left: 2vw;
            top: 7rem;
        }
      
}
@media screen and (max-width: 580px) {
    
    .form-textTranc2{
        top: -7rem;
    left: -9vw;
        width: 30vw;
    font-size: 14px;
    }
    
    .input-fieldPinWrap2{
        width: 40vw;
        top: -5rem;
    }
   
    .tranc2{
        position: absolute;
        left: 2vw;
        top: 7rem;
    }
    .form-textTransaction{
        width: 45vw;
        left: -4vw;
        top: -13rem;
        font-size: 11px;
        }
        .Transaction-view-left-bottom-text{
            width: 45vw;
            left: 9vw;
        font-size: 12px;
        }
  
}
/* Transaction style */

/* security style */
.move{
    left: -0.5vw;
}
.yesGreen{
    color: #D5D8DA;
    background: #3AB75D;
}
.noGreen{
    background: #3AB75D;
}
.form-textSecurity{
    position: absolute;
width: 30vw;
height: 34px;
left: -4.5vw;
top: -5rem;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 18px;
display: flex;
align-items: flex-end;
text-align: center;

color: #7D8287;
}
.Security-view-left-bottom-text{
    position: absolute;
    width: 30vw;
    left: 3vw;
    top: 3rem;

font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 20px;

color: hsl(242, 48%, 27%);
display: flex;

}
.inputBoxSec{
    width: 33vw;
        height: 2.5rem;
    background-color: #FFFF;
    border: 0.5px solid #D5D8DA;
    border-radius: 5px;
    margin-top: 0.5rem;
    }
    .shift{
        margin-top: -0.3rem;
    }
.secShift1{
    position: absolute;
    top: 0vh;
    left: -0.5vw;
}
.secShift2{
    position: absolute;
    top: 25vh;
}
.creditIcon{
    position: relative;
    width: 2rem;
    height: 2rem;
    left: 34vw;
    top: 3rem;
cursor: pointer;
}
.field-bottom-security{
    position: absolute;
    width: 40vw;
    left: 15vw;
    top: 30rem;
    

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 10px;
/* or 209% */

display: flex;
color: #706E6E;
}
@media screen and (max-width: 980px) {
    .field-bottom-security{

        left: 13vw;
  
    }
    .form-textSecurity{

    width: 32vw;
    left: -5vw;
    font-size: 9px;
   
    }
    .Security-view-left-bottom-text{

    font-size: 18px;

    }
}
@media screen and (max-width: 680px) {
    .inputBoxSec{
        width: 47vw;
        }
        .form-textSecurity{
        width: 50vw;
        left: -7vw;
        top: -6rem;
        line-height: 16px;
        }
        .Security-view-left-bottom-text{
            width: 40vw;
            left: 5vw;
    
        font-size: 18px;
        
        }
        .creditIcon{
            position: relative;
            width: 1.5rem;
            height: 1.5rem;
            left: 50vw;
            top: 3.5rem;
        cursor: pointer;
        }
        .field-bottom-security{

            left: 20vw;
      
        }
}
@media screen and (max-width: 520px) {
    .field-bottom-security{

        left: 16vw;
  
    }
}

.Activate-view-left-bottom-img{
    position: absolute;
width: 20rem;
height: 22rem;
left: 14vw;
top: 7.5rem;
}
.Activate-view-left-bottom-text{
    position: absolute;
    width: 25vw;
    left: 12vw;
    top: 34rem;

font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 16px;

color: #262466;
}
.Activate-button{
    box-sizing: border-box;

    position: absolute;
    width: 30vw;
    height: 5vh;
    left: 9vw;
    top: 43rem;
    
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
    border: 0.5px solid #D5D8DA;
    border-radius: 5px;
    background: rgba(35, 33, 100, 1);

}
@media screen and (max-width: 1100px) {
    .Activate-view-left-bottom-img{
    left: 10vw;
    }
}
@media screen and (max-width: 1100px) {
    .Activate-view-left-bottom-text{
      
        width: 30vw;
    font-size: 14px;
    
    }
}
@media screen and (max-width: 980px) {
    .Activate-view-left-bottom-img{
        position: absolute;
        width: 15rem;
        height: 17rem;
        left: 12vw;
        top: 10rem;
    }
}
@media screen and (max-width: 560px) {
    .Activate-view-left-bottom-img{
        position: absolute;
        width: 15rem;
        height: 17rem;
        left: 30vw;
        top: 12rem;
    }
    .Activate-view-left-bottom-text{
  margin-top: 1rem;
    font-size: 14px;
    width: 60vw;
    left: 8rem;
    }
    .Activate-button{
        width: 60vw;
        left: 8rem;
    }
}
