@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.confirm-button{
    position: absolute;
    bottom: 3rem;
    right: 5vw;
    color: #ffff;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    background: #262466;
    padding: 1rem;
    width: 6rem;
    height: 2.5rem;
    border-radius: 5px;

  }
 

.form-text-EditSettings {
    height: 5rem;
    margin-top: -3rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    position: absolute;
    color: #232164;
}

.input-field-Withdrawal {
    margin-top: -6rem;

}

.inputBox-Withdrawal {
    width: 55vw;
    height: 2rem;
    background-color: #FFFF;
    border-bottom: 1px solid #CFD8DC;
    border-radius: 5px;
    color: #A6A6A6;
    text-align: left;
    align-items: left;
    justify-content: left;
    top: 12rem;
    margin-bottom: 10rem;
    margin-left: 4vw;
    position: relative;
}
.Withdrawal-card-title2 {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    /* or 284% */
    top: 5rem;
    left: 4vw;
    color: #01316C;
    position: relative;
}
.Withdrawal-card-Pintitle{
    font-family: 'poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    /* or 284% */
    top: 10rem;
    left: 4vw;
    color: #01316C;
    position: relative;
}
.editSetting5{
    margin-left: 4vw;
    position: absolute;
    bottom: 5%;
}
.editSetting6{
    margin-left: 4vw;
    position: relative;
    top: 3rem;
}
.EditDone1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0rem;
    top: 0rem;
    background: rgba(23, 23, 23, 0.47);
}
.EditDone {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: -28vw;
    top: -21rem;
    background: rgba(23, 23, 23, 0.47);
}
.EditDone.active {
    display: none;
}
.EditDone1.active {
    display: none;
}
.EditDone-description{
    position: absolute;
left: 4vw;
top: 11rem;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

color: #444445;
}
.EditDone-description1{
    position: absolute;
    height: 37px;
    left: 9%;
    top: 8rem;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
/* or 111% */

text-align: center;

color: #1C2E7A;
}
.EditDone-status{
    position: absolute;
    height: 37px;
    right: 40%;
    top: 10rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* or 243% */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #232164;  
}
.DoneImage{
    position: absolute;
    margin-top: 12rem;
    right: 42%;
    margin-bottom: 5rem;
    transform: translate(0%, 0%);
}
.successWithdrawal{
    position: absolute;
    width: 100%;
    right: -49%;
    top: 27rem;
    display: flex;
text-align: center;
font-family: 'Poppins';
transform: translate(0%, 0%);
}
.successWithdrawal3{
    position: relative;
    top: 25rem;
}
.numWithdrawal{
    color: #262466;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin-right: -3vw;
}
.numberAccounntWithdrawal{
    width: 20vw;
    right: 82%;
    top: 2rem;
    position: absolute;
    display: flex;
    font-size: 12px;
}
.arrowIconWithdrawal{
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 57vw;
    top: 19rem;
cursor: pointer;
}
.Bank-card{
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 10rem;
background: linear-gradient(103.21deg, rgba(2, 58, 129, 0.98) 5.77%, rgba(2, 76, 167, 0.98) 105.83%);
border-radius: 7.89474px;
}
.AccountImg {
    position: absolute;
    width: 40%;
    right: 2vw;
    top: -0.5vh;
    /* background: url(shielgg.png); */
    mix-blend-mode: soft-light;
    opacity: 0.2;
}
.Bank-Account{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height:2.5rem;
    background: #FFFFFF;
    border-radius: 3.94737px;
    margin-bottom: 2rem;
}
.choose{
    position: relative;
    top: 30%;
    left: 3%;
    cursor: pointer;
}
.Bank-name{
    position: relative;
    top: -55%;
    left: 15%;    
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;

color: #023A81;
}
.Bank-number{
    position: relative;
    top: -65%;
    left: 15%;
    font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 11px;
/* identical to box height */


color: rgba(125, 130, 135, 0.8);
}
.Bank-card2{
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 20rem;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 10.2462px 30.7385px rgba(0, 0, 0, 0.1);
    border-radius: 25.6154px;
}
.Okay-button{
    position: absolute;
    bottom: 2rem;
    right: 3rem;
    color: #ffff;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    background: #262466;
    padding: 1rem;
    padding-left: 4rem;
    width: 10rem;
    height: 2.5rem;
    border-radius: 5px;
  }
  .Next-button{
    position: absolute;
    bottom: 2rem;
    right: 3rem;
    color: #ffff;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    background: #262466;
    padding: 1rem;
    padding-left: 2.4rem;
    width: 7rem;
    height: 2.5rem;
    border-radius: 5px;
  }
  .Cancle-button{
    position: absolute;
    bottom: 2rem;
    left: 3vw;
    color: #262466;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    background: #ffff;
    padding: 1rem;
    padding-left: 3rem;
    width: 10rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 0.853846px solid #023B83;
  }
  .Bank-massage{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
/* identical to box height */


color: #1C2E7A;
  }

  .Bank-description{
    position: absolute;
    top: 30%;
    left: 18%;
    width: 60%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* or 157% */
    
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #01316C;;
  }

  .Bank-description2{
    position: absolute;
    top: 50%;
    left: 18%;
    width: 60%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* or 157% */
    
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #01316C;;
  }
  .withdrawal{
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  @media screen and (max-width: 1220px) {
    .successWithdrawal{
        right: -48%;
    }
  }
  @media screen and (max-width: 1120px) {
    .successWithdrawal{
        right: -45%;
    }
  }
  @media screen and (max-width: 980px) {
    .successWithdrawal{
        right: -43%;
    }
    .numWithdrawal{
        font-size: 14px;
    }
    .numberAccounntWithdrawal{
        font-size: 12px;
        width: 30vw;
        right: 72%;
    }
    .EditDone-status{
        right: 40%;
    }
    .DoneImage{
        right: 42%;
    }
   
  }
  @media screen and (max-width: 720px) {
    .successWithdrawal{
        right: -48%;
    }
    .EditDone-status{
        right: 32%;
    }
    .DoneImage{
        right: 35%;
    }
    .arrowIconWithdrawal{
        left: 85%;
    }
  }
  @media screen and (max-width: 680px) {
    .EditDone-description{
        font-size: 12px;
    }
    .successWithdrawal{
        right: -45%;
    }
  
    .numberAccounntWithdrawal{
        width: 40vw;
        right: 65%;
    }
    .arrowIconWithdrawal{
        left: 85%;
    }
  }
  @media screen and (max-width: 580px) {
    .arrowIconWithdrawal{
        left: 85%;
    }
  }
  @media screen and (max-width: 540px) {
    .successWithdrawal{
        right: -40%;
    }
    .arrowIconWithdrawal{
        left: 75%;
    }
  }