.top-button{
    border-radius: 5px;
    background-color: #FAFAFA;
    padding: 8px 7px 11px 8px;
    margin-right: 64px;
    display: flex;
     color: #232164;
     font-weight: bold;
     size: 24px;
    align-items: center;
    justify-content: center;
}
.top-button img{
    /* height: 20px; */
    margin: 5px;
}
.container{ 
background: #FFFFFF;
box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.25);
border-radius: 5px;
display: flex;

flex-direction: row;
padding-top: 24px;
justify-content: space-evenly;
align-items: end;
}
.container-column{
    width: 300px;
    
    
}
.circle-avatar{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    background: #3AB75D;
   
}
.circle-avatar img{
    object-fit: cover;
    height: 130px;
    width: 130px;
    border-radius: 50%;
}
.wallet-div h3{
    color: #A4A4A4;
    font-size: 16px;
    font-weight: 400;
}
.greenBtn{
    background-color: #3AB75D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 700;
    width: 150px;
    height: 44px;
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.deactivate-btn{
    background-color: #E36969;
    color: white;
    padding: 9px 30px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    margin: 34px 12px 45px auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    right: 0;
    display: flex;
}
.profile-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
