.sideNav {
	height: 100vh;
	background: linear-gradient(177.44deg, #0a439a 0%, #1a1e51 92.41%);
}
.sidebtn:hover {
	color: #3ab75d;
}
.sidebtn:active {
	color: #3ab75d;
}

@media (max-width: 1023px) {
	.sideNav {
		position: fixed;
		/* top: 0; */
		left: 0;
		bottom: 0;
    z-index: 10;
		transform: translateX(-100%);
		transition: all 0.5s ease-in;
	}



	.sideNav.active {
		position: fixed;
		top: 0;
		left: 0;
		transform: translateX(0);
	}
}
