*{
    margin: 0px;
    padding: 0px;
}

.faq-wrapper{
    padding: 0px 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: poppins;
    background: #353935;
    /* background: #ffff; */
    color: #0000;
}
.faq-head{
    background-image: url('../../Assets/faq-back.png');
    background-repeat: no-repeat;
    background-position: 0px -230px;
}
.faq-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 30px 0px 30px;
}

.faq-title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    line-height: 50px;
    padding: 50px 0px;
}

.faq-input{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 70%;
    outline: none;
    padding: 12px 75px 12px 25px;
    font-size: 23px;
    text-align: left;
    padding: 30px 0px 30px 50px;
}

.faq-input::placeholder{
    color: #c2c4c2;
}

.faqTab{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 20px 0px;
}
.faq-btn{
    margin: 0px 50px;
    font-size: 40px;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
}
.faq-btn:focus{
    color: #448feb;
    text-decoration: underline;
}

.faq-accordion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 120px 0px;
}
.acc-con{
    margin: 10px 200px;
    width: 70vw;
    background-color: #353935;
    color: #fff;
}
.acc-icon{
    background-color: #f6d645;
    color: #fff;
    padding: 10px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.typography{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 500;
    padding: 20px 0px;
}

.hr{
    margin: 0px 80px;
}

.faq-tail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 150px 120px;
}
.tail-left{
    width: 50vw;
}
.tail-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50vw;
    margin-left: 25px;
}
.tail-title{
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0px;
}
/* .tail-words{
} */
.tail-btn{
    color: #fff;
    padding: 23px 47px;
    border-radius: 5px;
    border: none;
    margin: 25px 0px;
    background: linear-gradient(97.83deg, #01306B 10.93%, #0357BF 101.58%);
    font-size: 18px;
    font-weight: 700;
}
.tail-btn:hover{
    border-radius: 15px;
    background: #0357BF;
}
.download{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0px 0px -21px;
}
.down-btn{
    width: 190px;
    height: 65px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}
.t-btn-word{
    font-weight: 500;
    font-size: 16px;
    text-align: left;
}
.t-btn-words{
    font-weight: 600;
    font-size: 18px;
    text-align-last: left;
}
.hr-btm{
    margin-bottom: 50px;
}
.faq-img{
    width: 450px;
    height: 450px;
}
.download-link{
    text-decoration: none;
}

@media (max-width: 768px) {
    .faq-wrapper{
        padding: 0px 0px;
    }
    
    .faq-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px 0px 0px 0px;
    }
    
    .faq-title{
        text-align: center;
        color: #fff;
        font-size: 35px;
        font-weight: 600;
        line-height: 55px;
        padding: 50px 0px;
    }
    
    .faq-input{
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 10px;
        width: 70%;
        outline: none;
        padding: 10px 70px 10px 25px;
        font-size: 18px;
        text-align: left;
        padding: 30px 0px 30px 30px;
    }
    .faq-btn{
        margin: 0px 50px;
        font-size: 35px;
        font-weight: 500;
        outline: none;
        border: none;
        background-color: transparent;
        color: #fff;
    }
    
    .faq-input::placeholder{
        color: grey;
    }
    
    .faq-accordion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0px 80px 0px;
    }
    .acc-con{
        margin: 10px 200px;
        width: 70vw;
        background-color: #353935;
        color: #fff;
    }
    .acc-icon{
        background-color: #f6d645;
        color: #fff;
        padding: 10px;
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    .typography{
        display: flex;
        flex-direction: column;
        font-size: 25px;
        font-weight: 500;
        padding: 20px 0px;
    }
    
    .hr{
        margin: 0px 50px;
    }
    
    .faq-tail{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 80px 50px;
    }
    .tail-left{
        width: 50vw;
    }
    .faq-img{
        height: 275px;
        width: 275px;
    }
    .tail-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50vw;
        margin-left: 25px;
    }
    .tail-title{
        font-size: 20px;
        font-weight: 600;
        padding: 5px 0px;
    }
    /* .tail-words{
    } */
    .tail-btn{
        color: #fff;
        padding: 20px 35px;
        border-radius: 5px;
        border: none;
        margin: 15px 0px;
        background: linear-gradient(97.83deg, #01306B 10.93%, #0357BF 101.58%);
        font-size: 17px;
        font-weight: 600;
    }
    .tail-btn:hover{
        border-radius: 15px;
        background: #0357BF;
    }
    .download{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0px 0px 0px -21px;
    }
    .down-btn{
        width: 175px;
        height: 50px;
        border-radius: 20px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 15px;
    }
    .t-btn-word{
        font-weight: 500;
        font-size: 16px;
        text-align: left;
    }
    .t-btn-words{
        font-weight: 600;
        font-size: 18px;
        text-align-last: left;
    }
    .hr-btm{
        margin-bottom: 50px;
    }   
}
@media (max-width: 480px) {
    .faq-wrapper{
        padding: 0px 0px;
    }
    
    .faq-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 0px 0px 0px;
    }
    
    .faq-title{
        text-align: center;
        color: #fff;
        font-size: 23px;
        font-weight: 400;
        line-height: 40px;
        padding: 30px 30px;
    }
    
    .faq-input{
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 10px;
        width: 70%;
        outline: none;
        font-size: 15px;
        text-align: left;
        padding: 13px 0px 13px 15px;
    }
    
    .faq-input::placeholder{
        color: grey;
    }

    .faq-btn{
        margin: 0px 30px;
        font-size: 21px;
        font-weight: 100;
        outline: none;
        border: none;
        background-color: transparent;
        color: #fff;
    }
    
    .faq-accordion{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0px 60px 0px;
    }
    .acc-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 0px;
        width: 80%;
        border-radius: 10px;
        background-color: #353935;
        color: #fff;
    }
    .acc-icon{
        background-color: #f6d645;
        color: #fff;
        padding: 5px;
        height: 0px;
        width: 0px;
        border-radius: 50%;
    }
    .typography{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 400;
        padding: 5px 0px;
    }
    
    .hr{
        margin: 0px 20px;
    }
    
    .faq-tail{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 50px 25px;
    }
    .tail-left{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
    }
    .faq-img{
        height: 275px;
        width: 275px;
    }
    .tail-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin-left: 0px 0px;
    }
    .tail-title{
        font-size: 22px;
        font-weight: 600;
        padding: 10px 0px;
    }
    .tail-words{
        text-align: left;
        line-height: 30px;
        padding: 0px 30px;
    }
    .tail-btn{
        color: #fff;
        padding: 20px 35px;
        border-radius: 5px;
        border: none;
        margin: 25px 0px;
        background: linear-gradient(97.83deg, #01306B 10.93%, #0357BF 101.58%);
        font-size: 17px;
        font-weight: 600;
    }
    .tail-btn:hover{
        border-radius: 15px;
        background: #0357BF;
    }
    .download{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 25px 0px 0px;
    }
    .down-btn{
        width: 150px;
        height: 50px;
        border-radius: 20px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 10px;
    }
    .t-btn-word{
        font-weight: 300;
        font-size: 14px;
        text-align: left;
        padding-left: 5px;
    }
    .t-btn-words{
        font-weight: 700;
        font-size: 15px;
        text-align: left;
    }
    .hr-btm{
        margin-bottom: 0px;
    }   
}