.withdraw-btn{
    background-color: #E9303B;
    color: #ffff;
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    font-size: 11px;
    text-align: center;
}
@media screen and (max-width: 1200px) {
    .withdraw-btn{
        background-color: #E9303B;
        border-radius: 5px;
        padding: 8px 22px;
        border: none;
        font-size: 9px;
        text-align: center;
    }    
}
@media screen and (max-width: 768px) {
    .withdraw-btn{
        background-color: #E9303B;
        border-radius: 5px;
        padding: 8px 15px;
        border: none;
        font-size: 9px;
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    .withdraw-btn{
        background-color: #E9303B;
        border-radius: 5px;
        padding: 8px 15px;
        border: none;
        font-size: 9px;
        text-align: center;
    }
}