.withdraw-btn{
    background-color: 
    #3AB75D;
    color: #ffff;
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    font-size: 11px;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 100%;
    border-bottom: 1px solid#C0C0C0;
  }
  .inputbox label{
    position: absolute;
    top: -30%;
    left: 5px;
    transform: translateY(-50%);
    color: #013C86;

    pointer-events: none;
    transition: .5s;
    font-weight: 400;
  }

 
  .inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    
    padding:12px 35px 0 5px;
    font-weight: 400;
    color: #013C86;
  }
  .inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #02489F;
    font-size: 16px;
    top: 20px;
  }
  .wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
  
  
  
  /* For demonstration purposes only: */
  body { font-size: 3.5em }
  h1 { font-size: 0.5em }

@media screen and (max-width: 1200px) {
    .withdraw-btn{
        background-color:
        #3AB75D;
        border-radius: 5px;
        padding: 8px 22px;
        border: none;
        font-size: 9px;
        text-align: center;
    }    
}
@media screen and (max-width: 768px) {
    .withdraw-btn{
        background-color: 
        #3AB75D;
        border-radius: 5px;
        padding: 8px 15px;
        border: none;
        font-size: 9px;
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    .withdraw-btn{
        background-color: 
        #3AB75D;
        border-radius: 5px;
        padding: 8px 15px;
        border: none;
        font-size: 9px;
        text-align: center;
    }
}