*{
    margin: 0px;
    padding: 0px;
}
.foo-wrapper{
    margin: 0px 80px 80px 80px;
}
.foo-con{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 50px 0px;
}
.foo-news{
    margin-top: -30px;
}
.news-title{
    font-size: 25px;
    font-weight: 600;
    width: 20vw;
    line-height: 25px;
    margin-bottom: 30px;
}
.input-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.news-input{
    background-color: transparent;
    border: 1px solid #ffff;
    outline-color: #5597fa;
    padding: 12px 75px 12px 25px;
    font-size: 18px;
    text-align: left;
    color: #fff;
}
.foo-form-top{
    display: flex;
    align-items: center;
    justify-content: center;
}
::placeholder{
    color: #fff;
}
.news-btn{
    font-size: 37.6px;
    padding: 0px 17px 0px 17px;
    border: none;
}
.foo-radio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 20px;
}
.foo-radio-item{
    padding-right: 70px;
}
.news-btn:hover{
    background-color: #5597fa;
    color: #fff;
}
.foo-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.links-title{
    font-size: 25px;
    font-weight: 600;
}
.links-li{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 7px 0px;
}
.links-li:hover{
    color: #5597fa;
}
.foo-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.contact-title{
    font-size: 25px;
    font-weight: 600;
}
.contact-words{
    font-size: 18px;
    padding: 8px 0px;
}
.contact-words:hover{
    color: #5597fa;
}

       /* B O T T O M */

.foo-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px 50px 0px;
}       
.foo-btm-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.foo-socials{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    text-align: center;
    height: 50px;
    width: 50px;
    margin: 15px;
}
.foo-socials:hover{
    background-color: #5597fa;
    color: #fff;
}
.foo-btm-words{
    color: #a8aaa8;
    font-size: 18px;
}
.foo-blue{
    color: #fff;
    font-weight: 600;
    padding: 0px 10px;
}
.line-icon{
    color: #aeadab;
    font-size: 37px;
    margin: 0px 0px -12px -7px;
}

@media (max-width: 768px) {

    .foo-wrapper{
        margin: 0px 50px 80px 50px;
    }
    .foo-con{
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 0px 50px 0px;
    }
    .foo-news{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: -30px;
    }
    .foo-radio{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        font-size: 17px;
    }
    .foo-radio-item{
        padding-right: 50px;
    }
    .news-title{
        font-size: 30px;
        font-weight: 600;
        width: 20vw;
        line-height: 25px;
        margin-bottom: 30px;
    }
    .input-div{
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .foo-form-top{
        display: flex;
        align-items: center;
    }
    
    .news-input{
        background-color: transparent;
        border: 1px solid #fff;
        outline: none;
        padding: 12px 10px 12px 10px;
        font-size: 16px;
        text-align: left;
    }
    ::placeholder{
        color: #fff;
    }
    .news-btn{
        display: flex;
        align-items: center;
        font-size: 43px;
        padding: 0px 14px 0px 14px;
        border: none;
    }
    .news-btn:hover{
        background-color: #5597fa;
        color: #fff;
    }
    .foo-links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .links-title{
        font-size: 18px;
        font-weight: 600;
    }
    .links-li{
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        padding: 7px 0px;
    }
    .links-li:hover{
        color: #5597fa;
    }
    .foo-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;
    }
    .contact-title{
        font-size: 18px;
        font-weight: 600;
    }
    .contact-words{
        font-size: 16px;
        padding: 8px 0px;
    }
    .contact-words:hover{
        color: #5597fa;
    }
          /* B O T T O M */

.foo-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px 50px 0px;
}       
.foo-btm-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.foo-socials{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 16px;
    text-align: center;
    height: 30px;
    width: 30px;
    margin: 10px;
}
.foo-btm-words{
    color: #a8aaa8;
    font-size: 16px;
}
.foo-blue{
    color: #fff;
    font-weight: 500;
    padding: 0px 10px;
}
.line-icon{
    color: #aeadab;
    font-size: 23px;
    margin: 0px 0px -5px -5px

}

}


@media (max-width: 480px) {

    .foo-wrapper{
        margin: 0px 20px 50px 20px;
    }
    .foo-con{
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0px 0px 20px 0px;
    }
    .foo-news{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 50px;
    }
    .news-title{
        font-size: 18px;
        font-weight: 500;
        width: 50vw;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .input-div{
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .foo-radio{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        font-size: 17px;
    }
    .foo-radio-item{
        padding-right: 30px;
    }
    .news-input{
        background-color: transparent;
        border: 1px solid #fff;
        outline: none;
        padding: 12px 10px 12px 10px;
        font-size: 16px;
        text-align: left;
        margin-top: 20px;
    }
    ::placeholder{
        color: #fff;
    }
    .news-btn{
        display: flex;
        align-items: center;
        font-size: 43px;
        padding: 0px 14px 0px 14px;
        height: 44px;
        margin-top: 19px;
        border: none;
    }
    .news-btn:hover{
        background-color: #5597fa;
        color: #fff;
    }
    .foo-links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 40px 0px;
    }
    .links-title{
        font-size: 18px;
        font-weight: 500;
    }
    .links-li{
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        padding: 7px 0px;
    }
    .links-li:hover{
        color: #5597fa;
    }
    .foo-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px 65px 0px 65px;
    }
    .contact-title{
        font-size: 18px;
        font-weight: 500;
    }
    .contact-words{
        font-size: 16px;
        font-weight: 300;
        padding: 8px 0px 0px 0px;
    }
    .contact-words:hover{
        color: #5597fa;
    }
              /* B O T T O M */

.foo-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 50px 0px;
}       
.foo-btm-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.foo-socials{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 16px;
    text-align: center;
    height: 30px;
    width: 30px;
    margin: 10px;
}
.foo-btm-right{
    margin: 20px 0px;
}
.foo-btm-words{
    color: #a8aaa8;
    font-size: 14px;
    text-align: center;
}
.foo-blue{
    color: #fff;
    font-weight: 500;
    padding: 0px 10px;
}
.line-icon{
    color: #aeadab;
    font-size: 23px;
    margin: 0px 0px -5px -5px

}

}