*{
    font-family: poppins;
}

.ven-security-wrapper{
    position: absolute;
}
.ven-security-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
}
.ven-sec-title-con1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
}
.ven-sec-title1{
    font-size: 21px;
    font-weight: 600;
    color: #232164;
}
.ven-sec-icon{
    font-size: 55px;
    color: #0257C0;
}
.ven-sec-words{
    text-align: center;
    font-size: 12px;
    color: #7D8287;
    margin-top: 20px;
}
.ven-security-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.ven-sec-label{
    color: #232164;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: -10px;
}
.ven-sec-input-con{
    width: 25vw;
}
.ven-sec-input{
    height: 38px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }
.ven-sec-btn{
    width: 25vw;
    height: 45px;
    color: #ffff;
    background-color: #3AB75D;
    font-size: 15px;
    margin-top: 25px;
}
@media screen and (max-width: 1024px) {
    .ven-security-wrapper{
        position: absolute;
    }
    .ven-security-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 33vw;
        margin-top: 20px;
    }
    .ven-sec-title-con1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30vw;
    }
    .ven-sec-title1{
        font-size: 18px;
        font-weight: 600;
        color: #232164;
    }
    .ven-sec-icon{
        font-size: 50px;
        color: #0257C0;
    }
    .ven-sec-words{
        text-align: center;
        font-size: 11px;
        color: #7D8287;
        margin-top: 20px;
    }
    .ven-security-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .ven-sec-label{
        color: #232164;
        font-size: 8px;
        font-weight: 400;
        margin-bottom: -10px;
    }
    .ven-sec-input-con{
        width: 33vw;
    }
    .ven-sec-input{
        height: 35px;
    }
    .ven-sec-btn{
        width: 33vw;
        height: 40px;
        color: #ffff;
        background-color: #3AB75D;
        font-size: 15px;
        margin-top: 25px;
    }

}

@media screen and (max-width: 768px) {
    .ven-security-wrapper{
        position: absolute;
    }
    .ven-security-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40vw;
    }
    .ven-sec-title-con1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40vw;
    }
    .ven-sec-title1{
        font-size: 16px;
        font-weight: 600;
        color: #232164;
    }
    .ven-sec-icon{
        font-size: 40px;
        color: #0257C0;
    }
    .ven-sec-words{
        text-align: center;
        font-size: 11px;
        color: #7D8287;
        margin-top: 20px;
    }
    .ven-security-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .ven-sec-label{
        color: #232164;
        font-size: 8px;
        font-weight: 400;
        margin-bottom: -10px;
    }
    .ven-sec-input-con{
        width: 40vw;
    }
    .ven-sec-input{
        height: 30px;
    }
    .ven-sec-btn{
        width: 40vw;
        height: 40px;
        color: #ffff;
        background-color: #3AB75D;
        font-size: 15px;
        margin-top: 25px;
        font-size: 13px;
    }

}

@media screen and (max-width: 480px) {
    .ven-security-wrapper{
        position: absolute;
    }
    .ven-security-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 65vw;
    }
    .ven-sec-title-con1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65vw;
    }
    .ven-sec-title1{
        font-size: 15px;
        font-weight: 600;
        color: #232164;
    }
    .ven-sec-icon{
        font-size: 40px;
        color: #0257C0;
    }
    .ven-sec-words{
        text-align: center;
        font-size: 10px;
        color: #7D8287;
        margin-top: 20px;
    }
    .ven-security-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .ven-sec-label{
        color: #232164;
        font-size: 8px;
        font-weight: 400;
        margin-bottom: -10px;
    }
    .ven-sec-input-con{
        width: 65vw;
    }
    .ven-sec-input{
        height: 30px;
    }
    .ven-sec-btn{
        width: 65vw;
        height: 40px;
        color: #ffff;
        background-color: #3AB75D;
        font-size: 15px;
        margin-top: 25px;
        font-size: 13px;
    }

}