.cust-location{
    white-space: nowrap; 
    color:"#ffffff";
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: 10px;
    width: 75px;
}
@media screen and (max-width: 768px) {
    .cust-location{
        white-space: nowrap; 
        color:"#ffffff";
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
                line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; 
        font-size: 8px;
        width: 55px;
    }
}
@media screen and (max-width: 450px) {
    .cust-location{
        white-space: nowrap; 
        color:"#ffffff";
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
                line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; 
        font-size: 8px;
        width: 35px;
    }
}