*{
    font-family: poppins;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.activate-left{
    width: 50vw;
}
.activate-right{
    width: 50vw;
}
.activate-left{
    width: 50vw;
}
.activate-right{
    width: 50vw;
}
@media screen and (max-width: 1024px) {
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .activate-left{
        width: 50vw;
    }
    .activate-right{
        width: 50vw;
    }ivate-left{
        width: 50vw;
    }
    .activate-right{
        width: 50vw;
    }

}
@media screen and (max-width: 768px) {
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .activate-left{
        width: 100vw;
    }
    .activate-right{
        display: none;
        width: 0vw;
    }
    .activate-left{
        width: 50vw;
    }
    .activate-right{
        width: 50vw;
    }

}