@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Karla&family=Lato:wght@900&family=Montserrat:wght@600&family=Poppins:wght@400;600&display=swap'); */
.side {
  position: absolute;
  width: 14vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: linear-gradient(177.44deg, #0A439A 0%, #1A1E51 92.41%);
  transition: 360ms;
}
.position{
  position: relative;
  width: 80%;
  height: 100%;
  top: 8rem;
  left: 17vw; 
  overflow: scroll;
  overflow-x: hidden;
  height: 80vh;
}
.side-item{
display: flex;
gap: 1rem;

}
.side-item:hover{
  color: #3AB75D;
}
.side-item2:hover{
  color: #3AB75D;
}


.side-link.ActiveView {
  color: #3AB75D;
}

.side-link2.ActiveView {
  color: #3AB75D;
}
 nav a.active {
  color: #3AB75D;
}
.side-link{

position: relative;
width: 1rem;
height: 1rem;
left: 3vw;
top: 22vh;
margin-bottom: 2rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 10px;
/* identical to box height */

display: flex;
align-items: flex-end;

color: #F2F2F2;
}

.side-item2{
position: relative;
bottom: -12vh;
display: flex;
gap: 1rem;
}

.side-link2{

position: relative;
width: 1rem;
height: 1rem;
left: 3vw;
top: 20rem;
margin-bottom: 1rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 10px;
/* identical to box height */

display: flex;
align-items: flex-end;

color: #F2F2F2;
}

.side-bar-title{
/* Scam Trust */


position: absolute;
width: 5rem;
height: 5rem;
right: 5.5vw;
top: 1rem;
font-family: 'Michroma';
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 20px;
/* or 100% */


color: #FFFFFF;
}

.side-bar-logo{
position: absolute;
width: 14px;
height: 16px;
right: 4vw;
top: 1.5rem;
}
.side-icon{
  display: none;
  }

.side-bar-logo-bottom{
position: absolute;
bottom: 0;
width: 60%;
left: 15%;
}
.side-bar-top{
display: flex;
}


.header{
  position: absolute;
width: 86vw;
height: 5rem;
right: 0;
top: 0px;
transition: 360ms;
background: #FFFFFF;

}

.header-title{
  position: absolute;
font-weight: 600;
width: 1rem;
height: 1rem;
left: 3vw;
top: 1.8rem;
margin-bottom: 3rem;
font-family: 'Poppins';
font-size: 20px;
line-height: 10px;
/* identical to box height */

display: flex;
align-items: flex-end;

color: #232164;
}
.Notification{
  position: absolute;
  right: 3vw;
  top: 3.5vh;
  cursor: pointer;
}
.userAbbrevation{
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
right: 3vw;
top: 1.6rem;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 10px;
/* or 143% */

background: #E36969;
border-radius: 50%;

color: #F2F2F2;
padding-top: 5px;
justify-content: center;
align-items: center;
text-align: center;
}
.bell{
position: absolute;
width: 1rem;
height: 1rem;
right: 6vw;
top: 1.8rem;
color: #232164;
cursor: pointer;
}
.bellActive{
width: 0.5rem;
height: 0.5rem;
border-radius: 50%;
position: absolute;
background: #3AB75D;
bottom: 0;
right: 0;
right: 6vw;
top: 1.7rem;
cursor: pointer;
}

.search-bar {
position: relative;
background: transparent;
width: 30vw;
margin-left: 1vw;
font-size: 0.9rem;
color: var(--color-black);
background: rgba(192, 192, 192, 0.13);
padding: 10px;
border-radius: 15px;
top: 1rem;
left: 45vw;
}

.search-bar input[type="search"] {
position: relative;
background: transparent;
width: 25vw;
}

.search-bar input[type="search"]::placeholder {
color: var(--color-gray);
}
.search{
position: absolute;
width: 1rem;
height: 1rem;
/* identical to box height */
right: 3vw;
cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .side-bar-logo{
    right: 3.8vw;
  }
}
@media screen and (max-width: 960px) {
  .header{
    position: absolute;
    width: 92.5vw;
    height: 10vh;
    right: 0;
    transition: 360ms;
    background: #FFFFFF;
  }
  .side{
    position: absolute;
      width: 7.5vw;
      height: 100vh;
      min-height: 50vh;
      left: 0px;
      top: 0px;
      background: linear-gradient(177.44deg, #0A439A 0%, #1A1E51 92.41%);
      transition: 360ms;
  }
  .position{
    left: 13vw;
  }
  
  .side-bar-title{
    display: none;
    transition: 360ms;
    }
    .side-bar-logo{
      position: absolute;
      width: 27px;
      height: 30px;
      left: -5rem;
      top: 1.8rem;
      transition: 360ms;  transform: rotate(360deg);
      transition: 500ms;
    }
    .side-icon{
      position: absolute;
      width: 14px;
      height: 16px;
      right: 3.3vw;
      top: 5rem;
      font-size: 2rem;
      color: #FFFFFF;
      display: block;
      cursor: pointer;
      }
    .Active{
      display: none
    }

    /* active toggle */
    .side.active {
      position: absolute;
      width: 12rem;
      height: 100vh;
      left: 0px;
      top: 0px;
      background: linear-gradient(177.44deg, #0A439A 0%, #1A1E51 92.41%);
      transition: 360ms;
    }
    .Active.active{
      display: block
    }
    .side-item.active{
    display: flex;
    gap: 1rem;
    margin-left: 1.5vw;
    }
    .side-item2.active{
      display: flex;
      gap: 1rem;
      margin-left: 1.5vw;
      }
    .side-link.active{
    
    position: relative;
    width: 1rem;
    height: 1rem;
    left: 3vw;
    top: 22vh;
    margin-bottom: 2rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    
    }
    
    .side-item2.active{
    position: relative;
    bottom: -12vh;
    display: flex;
    gap: 1rem;
    }
    
    .side-link2.active{
    
    position: relative;
    width: 1rem;
    height: 1rem;
    left: 3vw;
    top: 28vh;
    margin-bottom: 1rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    
    }
    
    
    .side-bar-logo.active{
         position: absolute;
      width: 27px;
      height: 30px;
      left: 2vw;
      top: 1.8rem;
      transition: 360ms;  transform: rotate(360deg);
      transition: 500ms;
    }
    
    
    .side-bar-logo-bottom.active{
    position: absolute;
    bottom: 0;
    width: 40%;
    left: 3rem; 
    }
    
    .header.active{
      position: absolute;
      width: 93vw;
      height: 5rem;
      right: 0;
      top: 0px;
      transition: 360ms;
      background: #FFFFFF;
      border-radius: 0px 0 0 50px;
    }
    .header-title.active{
    font-size: 16px;
    line-height: 10px;
    margin-left: 2rem;
    }
    .search-bar.active {
      width: 30vw;
      margin-right: -15vw;
      font-size: 0.7rem;
      top: 1.2rem;
      left: 45vw;
      }


/* active toggle */    
     .header{
    position: absolute;
    width: 92.5vw;
    height: 5rem;
    right: 0;
    top: 0px;
    transition: 360ms;
    background: #FFFFFF;
  }
  .side{
    position: absolute;
      width: 7.5vw;
      height: 100vh;
      left: 0px;
      top: 0px;
      background: linear-gradient(177.44deg, #0A439A 0%, #1A1E51 92.41%);
      transition: 360ms;
  }

    .side-bar-logo{
      position: absolute;
      width: 27px;
      height: 30px;
      left: 1.5rem;
      top: 1.8rem;
      transition: 360ms;
    }
    .Active{
      display: none
    }
    .toggle{
      display: none;
    }
}
@media screen and (max-width: 720px) {
  .side-bar-logo.active{
    left: 1vw;
  }
  .side-bar-logo{
    left: 1vw;
  }
  .side-item2{
    bottom: -20vh;
  }
  .userAbbrevation{
right: 4vw;
}
.bell{
right: 9vw;
}
.bellActive{
  right: 9vw;
}
.search-bar {
  margin-left: 1vw;
  font-size: 0.7rem;
}
.search{
  width: 0.8rem;
}

}
@media screen and (max-width: 720px) {
.position{
  height: 85vh;
}
}