.create-transaction-btn{
    font-size: 14px;
    background-color: #3AB75D;
    color: #ffff;
    padding: 10px 12px;
    border-radius: 7px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.create-transaction-icon{
    color: #ffff;
    font-size: 25px;
    margin: 0px 0px 0px 5px;
}
.modal-div{
    color: red;
}
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 480px) {}