*{
    margin: 0px;
    padding: 0px;
}
.land-con{
    background-image: url("../../Assets/about-spiral.png");
    background-repeat: no-repeat;
    background-position: 0px -70px;
    background-size: cover;
    padding: 0px 0px 200px 0px;
}           
  
.land{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffff;
    padding: 0px 80px 0px 80px;
}    
.land-left{
    width: 40vw;
}
.land-title {
    font-weight: 800;
    font-size: 53px;
    line-height: 75px;
    margin-top: 60px;
}
.land-welcome-message{
    color: white;
}
.mid-h1{
    color: #448feb;
}
.land-words{
    margin-top: 20px;
    line-height: 35px;
    font-weight: 400;
    font-size: 22px;
}

.land-right{
   width: 60vw;
   margin: 20px 0px 0px 0px;
   position: relative;
}

.circle{
    border: 2px solid white;
    border-radius: 50%;
    height: 475px;
    width: 475px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0px 0px 200px;
}

.land-img{
    position: absolute;
    align-items: center;
    margin-top: 50px;
    width: 50rem;
}

.btm-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px 80px;
}

.dwn-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 110px 0px 0px 0px;
}
.download-btn{
    background-color: #ffff;
    width: 210px;
    height: 80px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}
.btn-word{
    color: black;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
}
.btn-words{
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.scan{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 70px 0px 0px 0px;
    padding: 4px;
    border: 2px solid #fff;
    border-radius: 15px;
    width: 300px;
    background: none;
}
.scan:hover{
    background: #fff;
}

.scan-words{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    width: 200px;
    padding: 0px 20px;
    color: #f6d645;
}
.arrow-ico{
    color: #fff;
    font-size: 45px;
}
.scan-img{
    background-color: #fff;
    padding: 12px 10px 10px 10px;
    border-radius: 10px;
    height: 110px;
    width: 110px;
}

@media (max-width: 1024px) {
    .land-con{
        background-image: url("../../Assets/about-spiral.png");
        background-repeat: no-repeat;
        background-position: 0px -70px;
        background-size: cover;
        padding: 0px 0px 200px 0px;
    }           
      
    .land{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #ffff;
        padding: 0px 45px 0px 45px;
    }    
    .land-left{
        width: 45vw;
    }
    .land-title {
        font-weight: 800;
        font-size: 40px;
        line-height: 55px;
        margin-top: 75px;
    }
    
    .mid-h1{
        color: #448feb;
    }
    .land-words{
        margin-top: 20px;
        line-height: 35px;
        font-weight: 400;
        font-size: 18px;
    }
    
    .land-right{
        position: relative;
        width: 50vw;
        margin: 20px 0px 0px 0px;
    }
    
    .circle{
        border: 2px solid white;
        border-radius: 50%;
        height: 340px;
        width: 340px;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 0px 75px;
    }
    
    .land-img{
        position: absolute;
       align-items: center;
       margin-top: 50px;
       width: 55rem;
    }
    
    .btm-div{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0px 25px;
    }
    
    .dwn-div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 70px 0px 0px 0px;
    }
    .download-btn{
        background-color: #ffff;
        width: 200px;
        height: 65px;
        border-radius: 15px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 20px;
    }
    .btn-word{
        color: black;
        font-weight: 700;
        font-size: 14px;
        text-align: left;
    }
    .btn-words{
        color: black;
        font-weight: 700;
        font-size: 18px;
    }
    
    .scan{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 40px 20px 0px 0px;
        padding: 4px;
        border: 2px solid #fff;
        border-radius: 15px;
        width: 270px;
        background: none;
    }
    .scan:hover{
        background: #fff;
    }
    
    .scan-words{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        width: 200px;
        padding: 0px 20px;
        color: #f6d645;
    }
    .arrow-ico{
        color: #fff;
        font-size: 45px;
    }
    .scan-img{
        background-color: #fff;
        padding: 12px 10px 10px 10px;
        border-radius: 10px;
        height: 100px;
        width: 100px;
    }

}
@media (max-width: 768px) {
.land-con{
    background-image: url("../../Assets/spiral.png");
    background-repeat: no-repeat;
    background-position: 0px -110px;
}           
  
.land{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffff;
    padding: 10px 35px 0px 35px;
}    

.land-left{
    width: 45vw;
}

.land-title {
    font-weight: 800;
    font-size: 35px;
    line-height: 45px;
    margin-top: 60px;
}
.mid-h1{
    color: #448feb;
}
.land-words{
    margin-top: 21px;
    line-height: 35px;
    font-weight: 400;
    font-size: 16px;
}

.land-right{
    position: relative;
    width: 45vw;
    margin: 20px 0px 0px 0px;
}

.circle{
    border: 2px solid white;
    border-radius: 50%;
    height: 260px;
    width: 260px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0px 0px 20px;
}

.land-img{
    position: absolute;
    align-items: center;
    margin: 0px 0px 0px 0px;
    width: 600px;
    height: 400px;
}

.btm-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
}

.dwn-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0px 0px 0px;
}
.download-btn{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.download-icons{
    width: 40px;
}
.btn-word{
    font-weight: 600;
    font-size: 11px;
    text-align: left;
}
.btn-words{
    font-weight: 700;
    font-size: 13px;
}

.scan{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 27px 0px 0px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #fff;
    width: 190px;
    background: none;
}
.scan:hover{
    background: #fff;
}

.scan-words{
    font-size: 13px;
    font-weight: 600;
    color: #f6d645;
    width: 100px;
    margin-left: 0px;
}
.arrow-ico{
    color: #fff;
    font-size: 45px;
}
.scan-img{
    background-color: #fff;
    padding: 8px 6px 6px 6px;
    border-radius: 10px;
    margin-bottom: 0px;
    height: 70px;
    width: 70px;
}

}


@media (max-width: 480px) {
.land-con{
  background-image: url("../../Assets/spiral.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1360px;
  background-position: 0px -45px;
}           

.land{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffff;
  padding: 40px 25px 0px 25px;
}    

.land-left{
  width: 100%;
}

.land-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  margin-top: 55px;
}

.mid-h1{
  color: #448feb;
}
.land-words{
  margin-top: 5px;
  line-height: 30px;
  font-weight: 300;
  font-size: 15px;
}

.land-right{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 20px 10px 0px 10px;
}

/* .land-right{
    width: 100%;
    margin: 20px 0px 0px 0px;
    position: relative;
 } */


.circle{
  border: 2px solid white;
  border-radius: 50%;
  height: 290px;
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0px 0px 0px;
}


.land-img{
    position: absolute;
    align-items: center;
    margin-top: 30px;
    width: 60rem;
}

.btm-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 50px;
}

.dwn-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 0px 0px;
}
.download-btn{
  width: 140px;
  height: 45px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  padding-right: 5px;
}
.download-icons{
    width: 35px;
}
.btn-word{
  font-weight: 500;
  font-size: 11px;
  text-align: left;
}
.btn-words{
  font-weight: 600;
  font-size: 13px;
}

.scan{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 0px 0px;
  padding: 5px 10px;
  width: 220px;
  background: none;
}
.scan:hover{
    background: #fff;
}

.scan-words{
  font-size: 16px;
  font-weight: 600;
  color: #f6d645;
  width: 160px;
  margin-left: 5px;
  text-align: center;
}
.arrow-ico{
  color: #fff;
  font-size: 45px;
}
.scan-img{
  background-color: #fff;
  padding: 6px 6px 4px 6px;
  border-radius: 10px;
  margin: 0px 0px 0px 0px;
}
    
}
